<div class="uk-vertical-align-middle" style="width: 400px;">
    <form class="uk-panel uk-panel-box uk-form" id="form">
        <h2>Смена пароль игрового аккаунта</h2>
        <input type="hidden" name="serverId" value="$server.id"/>
        <input type="hidden" name="gl" value="$account"/>
        <div class="uk-form-row">
			<strong>Сервер:</strong> $server.name
		</div>
        <div class="uk-form-row">
            <strong>Аккаунт:</strong> $account
        </div>
		<div class="uk-form-row">
            <input class="uk-width-1-1 uk-form-large" type="text" placeholder="Пароль" name="gp"/>
        </div>
        <div class="uk-form-row">
            <button class="uk-width-1-1 uk-button uk-button-primary uk-button-large" type="submit">Отправить</button>
        </div>
    </form>
    <div id="div1"></div>
    <script type="text/javascript">
        $('#form').submit(function () {
            var uri = '/XmlRpcLogin/change';
            var data = $("#form").serialize();
            $.ajax({
                url: uri,
                data: data,
                type: "POST"
            })
                    .done(function(data) {
                        $('#password').val("");
                        switch(data.type) {
                            case 'SUCCESS':
                                $('#div1').html('<div class="uk-alert uk-alert-success"><a href="" class="uk-alert-close uk-close"></a>'+data.message+'</div>');
                                break;
                            case 'FAIL':
                                $('#div1').html('<div class="uk-alert uk-alert-danger"><a href="" class="uk-alert-close uk-close"></a>'+data.message+'</div>');
                                break;
                        }
                    });
            return false;
        });

    </script>
</div>