<article class="clear_fix" style="border-top:none;border-bottom: 1px solid #35343a;">
    <div class="post_wrapp">
        <div class="post_wrapp_v2">
            <div class="title">
                <a class="hvr-underline-from-center">Файлы</a>
            </div>
            <div class="post_text">
                <br><a href="https://ru.4game.com/lineage2/install/">Клиент</a>
                <br><br><a href="http://rgho.st/private/7cVbw8TfZ/6b708ccead7c6de5e976224d8cf485f1">Папка System</a>, содержимое архива распаковать в папку с игрой, должно получиться так:
                <br><br><img src="http://c2n.me/3EFKBNz.png"/>
                <br><br>Запуск через файл: system_helios_pvp_ru\l2.exe
            </div>
        </div>
    </div>
</article>