<article class="clear_fix" style="border-top:none;border-bottom: 1px solid #35343a;">
    <div class="post_wrapp">
        <div class="post_wrapp_v2">
            <div class="title">
                <a class="hvr-underline-from-center">Статистика</a>
            </div>
            <div class="post_text">
                Скоро...
            </div>
        </div>
    </div>
</article>